{% extends "basic_app/base.html" %}

{% block body_block %}
<div class="mt-4 p-5 bg-secondary text-light rounded">
    <h1>Please Log In</h1>
    <form action="{% url 'basic_app:user_login' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" password="Enter Username">

        <label for="password">Password:</label>
        <input type="password" name="password" password="Enter Password">

        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}